body {
    width: 100%;
    min-width: 1600px;
    max-width: 1920px;
    height: 150px;
    overflow: auto;
    overflow-x: visible;
  }
  
  ul {
    list-style: none;
    li {
      display: block;
    }
  }
  
  a {
    text-decoration: none;
    &:visited {
      text-decoration: none;
    }
  }
  
  #upper-menu {
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: nowrap;
    width: 100%;
    height: 60px;
    background-color: #333333;
  }
  
  #bottom-head-menu {
    margin: 0;
    padding: 0;
    height: 180px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.24), 0 0 4px rgba(0, 0, 0, 0.12);
    background-color: #333333;
    opacity: 0.56;
  }
  
  #logo {
    display: flex;
    flex-wrap: nowrap;
    z-index: 30;
    margin: 15px 0 0 25%;
    width: 20%;
    color: #f7f7f7;
    font-family: 'Kristi', cursive;
    font-size: 60px;
    font-weight: 400;
    &::after {
      position: relative;
      top: 55px;
      left: -18px;
      content: 'logo';
      color: #f7f7f7;
      font-family: Lato;
      font-size: 18px;
      font-weight: 400;
    }
    a:visited {
      color: #f7f7f7;
    }
  }
  
  #semen-upper-menu {
    cursor: pointer;
    margin: 16px 0 0 9%;
    z-index: 13;
    &::after {
      position: relative;
      top: -15px;
      left: -9px;
      z-index: -1;
      display: inline-block;
      border-radius: 50%;
      height: 22px;
      width: 22px;
      text-align: center;
      content: '3';
      color: #ffffff;
      font-family: 'Lato', sans-serif;
      font-size: 16px;
      font-weight: 400;
      background-color: #ff4200;
    }
  }
  
  #total-upper-menu {
    margin: 21px 0 0 3%;
    p {
      overflow: hidden;
      display: inline;
      color: #ffffff;
      font-family: Lato;
      text-transform: uppercase;
      &:first-child {
        font-size: 14px;
        font-weight: 700;
      }
      &:nth-child(2) {
        font-size: 18px;
        margin-left: 1.6em;
        font-weight: 400;
      }
    }
  }
  
  #details-upper-menu {
    margin-left: 3%;
    color: #ffffff;
    font-family: Lato;
    font-size: 14px;
    font-weight: 700;
    line-height: 36px;
    text-transform: uppercase;
  }
  
  #more-upper-menu {
    margin: 21px 0 0 1%;
    cursor: pointer;
  }
  
  #bottom-head-menu {
    overflow-y: visible;
    width: 100%;
    height: 120px;
    display: flex;
    flex-flow: nowrap;
    color: #ffffff;
    font-family: "Fredoka One";
    font-size: 18px;
    font-weight: 400;
    line-height: 60.96px;
    text-transform: uppercase;
    a:visited {
      overflow-y: visible;
      width: 100%;
      height: 120px;
      display: flex;
      flex-flow: nowrap;
      color: #ffffff;
      font-family: "Fredoka One";
      font-size: 18px;
      font-weight: 400;
      line-height: 60.96px;
      text-transform: uppercase;
    }
    li {
      &:first-child {
        margin-left: 34%;
      }
      padding: 0 1.7% 0 1.7%;
      height: 55px;
      margin: 2em 0 0 .4%;
      &:hover {
        border-bottom: #ca3600 solid 4px;
      }
    }
  }
  
  /* First Block */
  
  #first-block {
    display: flex;
    flex-wrap: nowrap;
    margin-top: -120px;
    width: 100%;
    height: 920px;
    background: url('../assets/ultimate-seed-crackers-6.png') no-repeat;
    p:first-of-type {
      background: url('../assets/rect_6.png') no-repeat;
      margin-top: 15%;
      padding: 8% 0 0% 26%;
      white-space: nowrap;
      width: 870px;
      height: 360px;
      color: #ffffff;
      font-family: Lato;
      font-size: 18px;
      font-weight: 400;
      line-height: 28px;
      letter-spacing: 0.36px;
    }
    img:first-of-type {
      margin: 16.7% 0 0 -29.2%;
      width: 2px;
      height: 267px;
    }
    p:nth-of-type(2) {
      margin: 16% 1%;
      white-space: nowrap;
      width: 417px;
      height: 97px;
      color: #f7f7f7;
      font-family: "Fredoka One";
      font-size: 48px;
      font-weight: 400;
      line-height: 60px;
      text-transform: uppercase;
      letter-spacing: 2.4px;
    }
    span {
      cursor: pointer;
      margin: 37% 0 0 -6%;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #ffffff;
      font-family: "Fredoka One";
      font-size: 36px;
      font-weight: 400;
      line-height: 40px;
      text-transform: uppercase;
      width: 260px;
      height: 80px;
      box-shadow: 0 6px 6px rgba(0, 0, 0, 0.24), 0 0 6px rgba(0, 0, 0, 0.12);
      border-radius: 40px;
      background-color: #ff4200;
    }
  }
  
  /* Second Block */
  
  #second-block {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 1352px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.24), 0 0 4px rgba(0, 0, 0, 0.12);
    background-image: url(../assets/rect_7.png), url(../assets/layer_1.png);
  }
  
  #layer_2 {
    z-index: 30;
    margin: 4% 0 0 25.5%;
    width: 380px;
    height: 380px;
  }
  
  #about-cracker {
    margin: 3.5% 0 0 2%;
    white-space: nowrap;
    width: 524px;
    height: 37px;
    color: #666666;
    font-family: "Fredoka One";
    font-size: 48px;
    font-weight: 400;
    line-height: 60px;
    text-transform: uppercase;
    letter-spacing: 9.6px;
  }
  
  #text-block-large {
    box-sizing: border-box;
    padding: 2% 0 0 5%;
    margin-top: -15%;
    margin-left: auto;
    width: 1270px;
    height: 360px;
    background: url('../assets/rect_8.png') no-repeat;
    z-index: 40;
    color: #333333;
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.36px;
    &::after {
      content: 'Cracker';
      z-index: 60;
      position: relative;
      top: 7%;
      left: 46%;
      color: #333333;
      font-family: Kristi;
      font-size: 72px;
      font-weight: 400;
      font-style: italic;
    }
  }
  
  #label-cracker-constructor {
    text-align: center;
    margin-top: 5%;
    width: 100%;
    color: #333333;
    font-family: "Fredoka One";
    font-size: 48px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 9.6px;
  }
  
  #total-sum {
    margin-left: 18%;
    text-align: center;
    width: 100%;
    color: #333333;
    font-family: Lato;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    text-transform: uppercase;
    em {
      font-family: "Lato - Regular";
      font-style: normal;
      font-size: 30px;
      font-weight: 400;
    }
  }
  
  #calculator {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 20px;
    justify-items: center;
    align-items: center;
  }
  
  .icon {
    justify-self: right;
    margin-right: 12%;
    width: 60px;
    height: 61px;
  }
  
  .slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 5px;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    &:hover {
      opacity: 1;
    }
    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      cursor: pointer;
    }
  }
  
  /* Slider's Thumbs */
  
  #first-slider {
    background: #00a651;
    &::-webkit-slider-thumb {
      background: #00a651;
      border: 4px solid #00a651;
    }
  }
  
  #second-slider {
    background: #49743f;
    &::-webkit-slider-thumb {
      background: #49743f;
      border: 4px solid #49743f;
    }
  }
  
  #third-slider {
    background: #aba000;
    &::-webkit-slider-thumb {
      background: #aba000;
      border: 4px solid #aba000;
    }
  }
  
  #fourth-slider {
    background: #333333;
    &::-webkit-slider-thumb {
      background: #333333;
      border: 4px solid #333333;
    }
  }
  
  .percents {
    margin-left: 14%;
    justify-self: left;
    color: #333333;
    font-family: Lato;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    text-transform: uppercase;
  }
  
  #calculator {
    span:first-of-type {
      background: url('../assets/fa-angle-down_red.png') no-repeat 90% 56%;
      justify-self: left;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #ff4200;
      font-family: "Fredoka One";
      font-size: 24px;
      font-weight: 400;
      line-height: 40px;
      text-transform: uppercase;
      width: 400px;
      height: 60px;
      border-radius: 30px;
      border: 1px solid #ff4200;
    }
    &::after {
      cursor: pointer;
      content: url('../assets/Shape.png');
      justify-self: right;
      position: relative;
      top: -1%;
      left: 43%;
      align-self: self-end;
      width: 14px;
      height: 14px;
      padding: 30px;
      box-shadow: 0 6px 6px rgba(0, 0, 0, 0.24), 0 0 6px rgba(0, 0, 0, 0.12);
      border-radius: 50px;
      background-color: #ff4200;
    }
  }
  
  /* Footer */
  
  footer {
    display: grid;
    box-sizing: border-box;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 3.5fr;
    grid-column-gap: 20px;
    justify-items: center;
    align-items: baseline;
    padding-top: 2%;
    width: 100%;
    height: 788px;
    background: url('../assets/footer.png') no-repeat;
  }
  
  #footer-phone {
    margin-right: 5%;
    justify-self: right;
    color: #ffffff;
    font-family: "Fredoka One";
    font-size: 16px;
    font-weight: 400;
    line-height: 60.96px;
    text-transform: uppercase;
    letter-spacing: 0.8px;
    &::before {
      position: relative;
      top: 1%;
      right: 20px;
      content: url('../assets/fa-phone.png');
    }
  }
  
  #footer-address {
    margin-left: -16%;
    color: #ffffff;
    font-family: "Fredoka One";
    font-size: 16px;
    font-weight: 400;
    line-height: 60.96px;
    text-transform: uppercase;
    letter-spacing: 0.8px;
    &::before {
      position: relative;
      top: 1%;
      right: 20px;
      content: url('../assets/fa-map-marker.png');
    }
  }
  
  #footer-share {
    margin-left: -16%;
    justify-self: left;
    color: #ffffff;
    font-family: "Fredoka One";
    font-size: 16px;
    font-weight: 400;
    line-height: 60.96px;
    text-transform: uppercase;
    letter-spacing: 0.8px;
    &::before {
      position: relative;
      top: 1%;
      right: 20px;
      content: url('../assets/fa-share-alt.png');
    }
  }
  
  footer p {
    &:nth-of-type(4) {
      margin-right: -9%;
      justify-self: right;
      white-space: nowrap;
      color: #ffffff;
      font-family: Lato;
      font-size: 14px;
      font-weight: 400;
      line-height: 25px;
      letter-spacing: 0.7px;
    }
    &:nth-of-type(5) {
      justify-self: center;
      margin-left: -7%;
      color: #ffffff;
      font-family: Lato;
      font-size: 14px;
      font-weight: 400;
      line-height: 25.34px;
      letter-spacing: 0.28px;
    }
  }
  
  #footer-share-block {
    margin-left: -9%;
    justify-self: left;
    display: grid;
    grid-template-columns: 1fr;
    color: #ffffff;
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0.7px;
  }
  
  #footer-pinterest::before {
    padding: 24px 10px 1px 10px;
    border: 1px solid #f4f4f4;
    border-radius: 50px;
    position: relative;
    top: 1%;
    right: 20px;
    content: url('../assets/fa-pinterest-p.png');
  }
  
  #footer-facebook::before {
    padding: 27px 11px 0px 19px;
    border: 1px solid #f4f4f4;
    border-radius: 50px;
    position: relative;
    top: 1%;
    right: 20px;
    content: url('../assets/fa-facebook.png');
  }
  
  #footer-google::before {
    padding: 24px 10px 5px 13px;
    border: 1px solid #f4f4f4;
    border-radius: 50px;
    position: relative;
    top: 1%;
    right: 20px;
    content: url('../assets/fa-google-plus.png');
  }
  
  footer a, a:visited {
    color: #ffffff;
  }